/* <!-- ---------- PAGE ---------- --> */
#page {
    cursor: url(../assets/cursor/Left.cur), pointer;
    font-family: 'Lato', sans-serif;
}

/* <!-- ---------- PAGE ---------- --> */
nav ul li:hover{
    font-size: 20px;
    transition: 1s;
}
/* <!-- ---------- HEADER ---------- --> */

/* <!-- ---------- HEADER ---------- --> */

/* <!-- ---------- MAIN ---------- --> */

#banner1 {
    width: 100%;
    height: 600px;
    background-image: url(../assets/background/banner1.jpg);
    background-position: center;
    background-size: cover;
}
#mainContainer1{
    background-color: rgba(128, 128, 128, 0.182);
    font-size: 20px;
}

#mainContainer1 p:hover{
    background-color: #d1e7dd;
}
#mainH1{
    font-size: 200%;
}

#mainH1:hover{
    background-color: bisque;
    font-size: 30px;
}


/* <!-- ---------- MAIN ---------- --> */

/* <!-- ---------- FOOTER ---------- --> */
footer h4{
    font-family: Nature;
}

footer h4:hover{
    font-size: 20px;
    transition: 1s;
}
/* <!-- ---------- FOOTER ---------- --> */

/* ----------- ADDINGS --------- */
.fontNature {
    font-family: Nature, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Nature;
    src: url(../assets/font/the_naturel_txt/The\ Naturel\ Txt2.ttf);
}



/* ----------- ADDINGS --------- */

/* --------------------------------- CHALLENGER PAGE------------------------------------- */

/* --------------------------------- CHALLENGER ------------------------------------- */